            body {
                margin: 0 auto;
                font-size: 16px;
            }
            
            #header {
                width: 80%;
                height: 42vh;
                margin: 0 auto;
                background-color: rgb(0, 0, 0);
                padding: 2% 10% 2% 10%;
            }
            
            #header .instele {
                text-align: left;
                display: flex;
            }
            
            #header .main-menu {
                display: flex;
                margin-left: 32%;
                text-align: center;
                align-content: middle;
            }
            
            #header .instele h1 {
                font-size: 3.2em;
                text-align: right;
                margin-left: 40vw;
                color: rgb(218, 215, 212);
                font-family: fantasy;
            }
            
            p a {
                font-size: 1.3em;
                margin: 30%;
                padding-top: 10%;
                color: rgb(218, 215, 212);
                font-family: fantasy;
            }
            
            ul li {
                margin: 2%;
            }
            
            li a {
                color: rgb(218, 215, 212);
                font-size: 1.5em;
                font-family: fantasy;
            }
            
            #header .dv {
                margin-left: 40%;
                position: relative;
            }
            
            a {
                text-decoration: none;
            }
            /* черній верх закончися!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
            
            #page-wrapper {
                width: 80%;
                margin: 0 auto;
                background-color: rgb(255, 255, 255);
                padding: 0.4% 10% 1% 10%;
            }
            
            .otkr {
                display: flex;
                justify-content: space-between;
                margin: 5px;
                padding: 1px;
                flex-wrap: wrap;
            }
            
            img {
                margin-top: 1%;
            }
            /*kartinki!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
            
            #footer {
                width: 80%;
                height: 10%;
                margin: 0 auto;
                background-color: black;
                padding: 2% 10% 2% 10%;
                align-content: middle;
            }
            
            .klac {
                text-align: center;
            }
            
            a i {
                display: flex;
                margin: 2%;
            }
            
            i {
                font-size: 2em;
            }
            /*ABOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOUUUUUUUUUUUUUUUUUUUUUUUUUUUUUTTTTTTTTTTTTTTTTTTTTTTTTT*/
            
            .abva {
                padding: 5px;
                font-family: fantasy;
                color: black;
                font-size: 1.808em;
            }
            /* попытка обезцветить картинки*/
            
            #img {
                height: 350px;
                width: 494.5px;
                filter: grayscale(100%);
                /*делает картинки чб*/
            }
            
            #img:hover {
                border: 5px solid black;
                filter: contrast(100%);
                /*делает картинку цветной*/
            }
            /*NEEEEEEEEEEEEEEEEEEEEEEEEEEEEEW*/
            
            .kisa {
                margin-bottom: 15px;
                display: flex;
                font-family: fantasy;
                font-size: 3em;
            }
            
            .kisa>p {
                margin: 150px 20px;
            }
            
            marquee img {
                border: 10px solid black;
            }
            
            #page-wrapper #prod .otkr img {
                filter: grayscale(0%);
                border: none;
            }
            /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/