            body {
                margin: 0 auto;
                font-size: 2vh;
            }
            
            #header {
                width: 80%;
                height: 45vh;
                margin: 0 auto;
                background-color: rgb(0, 0, 0);
                padding: 2% 10% 2% 10%;
            }
            
            #header .instele {
                text-align: left;
                display: flex;
            }
            
            #header .main-menu {
                display: flex;
                margin-left: 30%;
                text-align: center;
                align-content: middle;
                position: relative;
                margin-top: 22%;
            }
            
            #header .instele h1 {
                font-size: 5vh;
                text-align: right;
                margin-left: 25vw;
                color: rgb(218, 215, 212);
                font-family: fantasy;
            }
            
            #header p a {
                font-size: 4vh;
                margin: 40%;
                padding-top: 10%;
                color: rgb(218, 215, 212);
                font-family: fantasy;
            }
            
            ul li {
                margin: 2%;
            }
            
            li a {
                color: rgb(218, 215, 212);
                font-size: 3vh;
                font-family: fantasy;
            }
            
            #header .dv img {
                margin-left: 33%;
                position: absolute;
            }
            
            #header img {
                /* margin-top: 15%; */
                height: 35%;
                width: 20%;
            }
            
            a {
                text-decoration: none;
            }
            /* черній верх закончися!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
            
            #page-wrapper {
                width: 80%;
                margin: 0 auto;
                background-color: rgb(255, 255, 255);
                padding: 0.4% 10% 1% 10%;
            }
            
            .otkr {
                display: flex;
                justify-content: space-between;
                margin: 0;
                flex-wrap: wrap;
            }
            /*kartinki!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
            
            #footer {
                width: 80%;
                height: 10%;
                margin: 0 auto;
                background-color: black;
                padding: 2% 10% 2% 10%;
                align-content: middle;
            }
            
            .klac {
                text-align: center;
            }
            
            a i {
                display: flex;
                margin: 2%;
            }
            
            i {
                font-size: 3vh;
            }
            /*ABOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOUUUUUUUUUUUUUUUUUUUUUUUUUUUUUTTTTTTTTTTTTTTTTTTTTTTTTT*/
            
            .abva {
                padding: 1vh;
                font-family: fantasy;
                color: rgb(0, 0, 0);
                font-size: 3vh;
            }
            /* попытка обезцветить картинки*/
            
            #img {
                height: 22%;
                width: 32%;
                filter: grayscale(100%);
                /*делает картинки чб*/
            }
            
            #img:hover {
                border: 5px solid black;
                filter: contrast(100%);
                /*делает картинку цветной*/
            }
            /*NEEEEEEEEEEEEEEEEEEEEEEEEEEEEEW*/
            
            .kisa {
                margin-bottom: 15px;
                display: flex;
                font-family: fantasy;
                font-size: 3em;
            }
            
            .kisa>p {
                margin: 150px 20px;
            }
            
            marquee img {
                border: 10px solid black;
            }
            
            #page-wrapper #prod .otkr img {
                filter: grayscale(0%);
                border: none;
            }
            /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/